.contenedor {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.contenedor-imagen{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.Modal-imagen{
    max-width: 1000px;
    height: auto;
    position: relative;
    z-index: -1;
}

.Modal-boton{
    position:absolute;
    width: 250px;
    height: auto;
    cursor: pointer;
    top:370px;
    z-index: 1;
}

.Modal-botones{
    position: relative;
    top:0px;
}


.Modal-contenedor-botones{
    width: 80%;
    display: flex;
    justify-content: space-between;
    top:370px;
    position: absolute;
}

 @media (max-width: 1000px) {
    .Modal-imagen{
        max-width: 900px;
    }

    .Modal-boton{
        width: 200px;
        top:350px
    }
    .Modal-botones{
    position: relative;
    top:0px;
}
    .Modal-contenedor-botones{
        top:350px
    }
}

@media (max-width: 900px) {
    .Modal-imagen{
        max-width: 850px;
    }

    .Modal-boton{
        width: 190px;
        top:320px
    }
    .Modal-botones{
    position: relative;
    top:0px;
}
    .Modal-contenedor-botones{
        top:320px
    }
}

@media (max-width: 842px) {
    .Modal-imagen{
        max-width: 770px;
    }

    .Modal-boton{
        width: 160px;
        top:300px
    }
    .Modal-botones{
    position: relative;
    top:0px;
}
    .Modal-contenedor-botones{
        top:300px
    }
}
@media (max-width: 750px) {
    .Modal-imagen{
        max-width: 600px;
    }

    .Modal-boton{
        width: 160px;
        top:220px
    }
    .Modal-botones{
    position: relative;
    top:0px;
}
    .Modal-contenedor-botones{
        top:220px
    }
}

@media (max-width: 600px) {
    .Modal-imagen{
        max-width: 500px;
    }

    .Modal-boton{
        width: 120px;
        top:180px
    }
    .Modal-botones{
    position: relative;
    top:0px;
}
    .Modal-contenedor-botones{
        top:180px
    }
}
