/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.fondo{
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: auto 5px auto 5px auto 5px auto;
        grid-template-areas:
    "a a a a a a a a"
    "b b b b b b b b"
    "c c c c c c c c"
    "d d d d d d d d";
    grid-gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
}

.fondo-imagen{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.pregunta{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-area: b;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 4;
    grid-column-end: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: auto;
    width: 600px;
    height: auto;
    margin-top: 60px;
}

.respuestas{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-area: c;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 4;
    grid-column-end: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
}

.botonImagen{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.contador-imagen{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 15;
    grid-area: d;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    height: auto;
}
@media (max-width: 1030px) {

.botonImagen{
    width: 100px;
    height: 100px;
}

}

@media (max-width: 800px) {
.fondo{
    grid-gap: 10px;
}
.pregunta{
    width: 405px;
}
 .botonImagen{
    width: 70px;
    height: 70px;
}
.contador-imagen{
    width: 60px;
}       
}

@media (max-width: 751px) {
.pregunta{
    width: 385px;
}
 .botonImagen{
    width: 60px;
    height: 60px;
}
.contador-imagen{
    width: 55px;
}
}

@media (max-width: 683px) {
.pregunta{
    width: 325px;
}
}

@media (max-width: 621px) {
.pregunta{
    width: 300px;
}
 .botonImagen{
    width: 50px;
    height: 50px;
}
}

@media (max-width: 565px) {
.pregunta{
    width: 275px;
}
 .botonImagen{
    width: 45px;
    height: 45px;
}
.contador-imagen{
    width: 50px;
}
}

@media (max-width: 521px) {
.pregunta{
    width: 245px;
}
 .botonImagen{
    width: 40px;
    height: 40px;
}
.contador-imagen{
    width: 45px;
}
}

@media (max-height: 438px) {
.pregunta{
    width: 290px;
    margin-top: 30px;
}
 .botonImagen{
    width: 60px;
    height: 60px;
}
.contador-imagen{
    width: 40px;
}
}